<!DOCTYPE html>
<html>
  <head>
    <title>NLTK Gender Classifier</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>    
  <body>
     <div class="container">
      <div class="header">
        <h3 class="text-muted">About</h3>
      </div>
      <div>
        <p>This simple Flask app is an effort to expose some of the functionality of Python's Natural Language Toolkit (NLTK) through an easy-to-use interface. The idea is to provide nontechnical people who are curious about machine learning and natural language processing with a way to experiment and learn. That said, NLTK comes with a great free <a href="http://www.nltk.org/book/">tutorial</a> that forms the basis of most of the material here, and even someone with little or no programming experience could, with a little commitment, master the basics of Python and the NLTK to great effect.</p>
    </div>
  </body>
</html>
